<style>
  .custom-badge {
  background-color: #6366f1;
  color: white;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 0.85rem;
  display: inline-block;
  min-width: 32px;
  text-align: center;
}
@media (max-width: 768px) {
  .desktop-view {
    display: none !important; 
  }

  .mobile-view {
    display: block !important;
    font-size: 0.9rem;
    font-weight: bold;
  }
}

@media (min-width: 769px) {
  .desktop-view {
    display: block !important;
  }

  .mobile-view {
    display: none !important;
  }
}

</style>
<p class="is-capitalized is-size-3 has-text-weight-semibold is-family-sans-serif">Leaderboard</p>
<div class="columns">
  <div class="column ">
    <div class="card">
      <p class="card-header-title">Live Rankings</p>
      <div class="card-content">
        <% if @current_competitions.empty? %>
          No current competitions
        <% else %>
          <table class="table is-bordered is-fullwidth">
            <thead>
            <th>Competition</th>
            <th>Candidate</th>
            </thead>
            <tbody>
              <% (@current_competitions || []).each do |competition| %>
                <tr>
                  <td>
                    <p class="mobile-view">
                      <%= link_to competition.name, "/competitions/#{competition.id}" %>
                      - <%= @remaining_points %> Points

                    </p>

                    <div class="desktop-view">
                      <%= link_to "/competitions/#{competition.id}", class: 'button is-link is-relative has-text-centered mt-3' do %>
                        <%= competition.name %>
                        <span class="custom-badge ml-4">
                          <%= @remaining_points %>
                        </span>
                      <% end %>
                    </div>
                  </td>

                  <td>
                    <% if !@ranks[competition.id].empty? %>
                      <table class="table is-striped is-hoverable is-fullwidth">
                        <thead>
                          <tr>
                            <td>Rank</td>
                            <td><%= (competition.competition_type == "Election" ? 'Candidate' : 'Rewardee')%> </td>
                            <td><%= (competition.competition_type == "Election" ? 'Votes' : 'Points')%> </td>
                          </tr>
                        </thead>
                        <tbody>
                          <% i = 1 %>
                          <% (@ranks[competition.id][:rank] || []).each do |ranking|%>
                            <tr>
                              <td class="has-text-centered"><%= i %></td>
                              <td><%= ranking[0].first %></td>
                              <td class="has-text-right">
                                <%= ranking[1] %> (<%= ((ranking[1]/@ranks[competition.id][:total_points].to_f)*100).round(2) %>%)
                              </td>
                            </tr>
                            <% i += 1 %>
                          <% end %>
                        </tbody>
                      </table>
                    <%else %>
                      No current Rankings
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
<!--
  <div class="column">
    <div class="card">
      <p class="card-header-title">Recent Winners</p>
      <div class="card-content">
        <div class="content">
          <p class="title">123</p>
          Lorem
        </div>
      </div>
    </div>
  </div> !-->
</div>