<style>
  .custom-badge {
  background-color:rgb(8, 8, 100);
  color: white;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 0.85rem;
  display: inline-block;
  min-width: 32px;
  text-align: center;
  }
  .custom-badge-info{
    background-color: rgb(118, 159, 202);
    color: black;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 0.85rem;
    display: inline-block;
    min-width: 32px;
    text-align: center;
  }
  .has-background-light-custom {
    background-color: #e0e0e0 !important;
  }

  .custom-gap {
    padding: 1.3rem 1rem;
    border-radius: 4px;
    min-width: 32px;
  }
  @media (max-width: 768px) {
    .desktop-view {
      display: none !important; 
    }

    .mobile-view {
      display: block !important;
      font-size: 0.9rem;
      font-weight: bold;
    }
  }

  @media (min-width: 769px) {
    .desktop-view {
      display: block !important;
    }

    .mobile-view {
      display: none !important;
    }
  }

</style>
<p class="is-capitalized is-size-3 has-text-weight-semibold is-family-sans-serif">Leaderboard</p>
<div class="columns">
  <div class="column ">
    <div class="card">
      <p class="card-header-title">Live Rankings</p>
      <div class="card-content">
        <% if @current_competitions.empty? %>
          No current competitions
        <% else %>
          <table class="table is-bordered is-fullwidth">
            <thead>
            <th>Competition</th>
            <th>Candidate</th>
            </thead>
            <tbody>
              <% (@current_competitions || []).each do |competition| %>
                <tr>
                  <td>
                    <p class="mobile-view">
                      <%= link_to competition.name, "/competitions/#{competition.id}" %>
                      - <%= @participant_point.active_points %> Points
                    </p>

                    <div class="desktop-view">
                      <%= link_to "/competitions/#{competition.id}", class: 'button is-fullwidth is-link is-relative has-text-centered mt-4' do %>
                        <%= competition.name %>
                        <span class="custom-gap ml-4">
                        </span>
                      <% end %>
                      <div class="desktop-view">
                      <%= link_to "/participant_points/show?competition_id=#{competition.id}&participant=#{Current.user.person_id}", class: 'button is-fullwidth is-link is-relative has-text-centered mt-3 is-info' do %>
                        My Rewarding Patterns
                        <span class="custom-gap ml-4">
                        </span>
                      <% end %>
                    </div>
                  </td>

                  <td>
                    <% if !@ranks[competition.id].empty? %>
                      <table class="table is-striped is-hoverable is-fullwidth">
                        <thead>
                          <tr>
                            <td>Rank</td>
                            <td><%= (competition.competition_type == "Election" ? 'Candidate' : 'Rewardee')%> </td>
                            <td><%= (competition.competition_type == "Election" ? 'Votes' : 'Points')%> </td>
                          </tr>
                        </thead>
                        <tbody>
                          <% i = 1 %>
                          <% (@ranks[competition.id][:rank] || []).each do |ranking|%>
                            <tr>
                              <td class="has-text-centered"><%= i %></td>
                              <td><%= ranking[0].first %></td>
                              <td class="has-text-right">
                                <%= ranking[1] %> (<%= ((ranking[1]/@ranks[competition.id][:total_points].to_f)*100).round(2) %>%)
                              </td>
                            </tr>
                            <% i += 1 %>
                          <% end %>
                        </tbody>
                      </table>
                    <%else %>
                      No current Rankings
                    <% end %>
                  </td>
                </tr>
                <tr class="info-banner">
                  <td colspan="2">
                    <div class="columns is-multiline is-mobile">
                      
                      <!-- Reset Date -->
                      <div class="column is-one-quarter-tablet is-half-mobile">
                        <div class="notification has-text-centered py-3 has-background-light-custom">
                          <p class="is-size-6" style="color: black;">
                            Refreshes <span class="custom-badge-info ml-2">
                              <%= if @participant_point.resets_on then @participant_point.resets_on.strftime("%B %d") else 'N/A' end %>
                            </span>
                          </p>
                        </div>
                      </div>

                      <!-- Active Points -->
                      <div class="column is-one-quarter-tablet is-half-mobile">
                        <div class="notification has-text-centered py-3 has-background-light-custom">
                          <p class="is-size-6" style="color: black;">
                            Weekly Active<span class="custom-badge-info ml-2">
                              <%= if @participant_point.active_points then @participant_point.active_points else 'N/A' end %>
                            </span>
                          </p>
                        </div>
                      </div>

                      <!-- Frozen Points -->
                      <div class="column is-one-quarter-tablet is-half-mobile">
                        <div class="notification has-text-centered py-3 has-background-light-custom">
                          <p class="is-size-6" style="color: black;">
                            Frozen Points <span class="custom-badge-info ml-2">
                              <%= if @participant_point.frozen_points then @participant_point.frozen_points else 'N/A' end %>
                            </span>
                          </p>
                        </div>
                      </div>

                      <!-- Pending Points -->
                      <div class="column is-one-quarter-tablet is-half-mobile">
                        <div class="notification has-text-centered py-3 has-background-light-custom">
                          <p class="is-size-6" style="color: black;">
                            Pending Points<span class="custom-badge-info ml-2">
                              <%= if @participant_point.pending_points then @participant_point.pending_points else 'N/A' end %>
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>