

<div class="box mt-6">

  <h3 class="subtitle is-3">User Login</h3>
  <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
  <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
  <%= form_with url: session_path do |form| %>

    <div class="field">
      <label class="label">Email Address</label>
      <div class="control">
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username",
                             placeholder: "Enter your email address", value: params[:email_address], class: "input" %>

      </div>
    </div>
    <div class="field">
      <label class="label">Pasword</label>
      <div class="control">
        <%= form.password_field :password, required: true, autocomplete: "current-password",
                                placeholder: "Enter your password", maxlength: 72 , class: "input" %>

      </div>
    </div>
    <div class="field is-grouped">
      <p class="control">
        <%= form.submit "Sign in", class: 'button is-success'%>
      </p>
      <p class="control">
        <%= link_to "Forgot password?", new_password_path, class: 'button is-link' %>
      </p>
    </div>

  <% end %>
  <br>

</div>