
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
.cell {
  display: grid;
  height: 100% ;
}
</style>

<p class="is-capitalized is-size-3 has-text-weight-semibold is-family-sans-serif"><%= @competition.name %> Dashboard</p>
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading"><%= @competition.competition_type == 'Election'? 'Total Possible Votes' : 'Total Available Points' %></p>
      <p class="title"><%= number_with_delimiter(@summary[:total_points]) %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading"><%= @competition.competition_type == 'Election'? 'Votes Cast' : 'Points Used' %></p>
      <p class="title"><%= number_with_delimiter(@summary[:total_points] - @summary[:remaining_points]) %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading"><%= @competition.competition_type == 'Election'? 'Remaining Votes' : 'Remaining Points' %></p>
      <p class="title"><%= number_with_delimiter(@summary[:remaining_points]) %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading"><%= @competition.competition_type == 'Election'? 'Leader Votes Tally' : 'Leader Points Tally' %></p>
      <p class="title"><%= number_with_delimiter(@summary[:leader_count]) %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading"><%= @competition.competition_type == 'Election'? 'Votes to Win' : 'Points to Win' %></p>
      <p class="title"><%= number_with_delimiter(@summary[:points_to_win]) %></p>
    </div>
  </div>
</nav>

<nav class="level">
  <div class="level-item has-text-centered">
    <div class="card is-fullheight">
      <div class="card-content" >
        <% if @summary[:leader].nil? %>
          <p class='title is-4'> No Current Leader </p>
        <% else %>
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <% if @summary[:leader].second == 'Male' %>
                  <%= image_tag('avatar-male.png', alt: 'Male Image') %>
                <% else %>
                  <%= image_tag('avatar-female.png', alt: 'Female image') %>
                <% end %>
              </figure>
            </div>
            <div class="media-content has-text-left">
              <table>
                <tr>
                  <td colspan='3' class="title is-5">Current Leader</td>
                </tr>
                <tr>
                  <td colspan='3' class="subtitle is-5" >
                    <%= @summary[:leader].first %>
                  </td>
                </tr>
                <tr>
                  <td>Points Earned</td>
                  <td>:</td>
                  <td> <%= @summary[:leader_count] %> </td>
                </tr>
                <tr>
                  <td>% Earned</td>
                  <td>:</td>
                  <td>
                    <%= "#{((@summary[:leader_count]/@summary[:total_points].to_f)*100).round(2)}%" %>
                  </td>
                </tr>
                <tr>
                  <td>Points to Win</td>
                  <td>:</td>
                  <td> <%= @summary[:points_to_win]%> </td>
                </tr>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div class="card h-100">
      <div class="card-content">
        <canvas id="myChart" style="width: 100%;" height="120"></canvas>
      </div>
    </div>
  </div>
</nav>

<div class="box is-fullwidth mt-2">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th class="has-text-centered">Count</th>
                <th class="has-text-centered">Percentage of Points</th>
            </tr>
        </thead>
        <tbody>
          <%  i = 1 %>
          <% (@ranking || []).each do |rank| %>
            <tr>
              <td><%= i %></td>
              <td><%= rank.first.first %></td>
              <td class="has-text-centered"><%= number_with_delimiter(rank[1]) %></td>
              <td class="has-text-centered">
                <%= ((rank[1]/@summary[:total_points].to_f)*100).round(2) %>%
              </td>
            </tr>
            <% i += 1%>
          <% end %>
        </tbody>
    </table>
</div>

<script>
var labels = "<%= @ranking.first(3).collect{|x| x.first.first }.join(",")%>"
var densityData = {
  label: 'Points',
  data: <%= @ranking.first(3).collect{|x| x.second } %>,
  borderWidth: 2,
  hoverBorderWidth: 0
};
  var config = {
    type: 'bar',
    data: {
      labels: labels.split(','),
      datasets: [densityData],
    },
    options: {
      indexAxis: 'y',
      legend: { show: false},
    plugins: {
      legend: {
        display : false,
      }
    },
    elements: {
      rectangle: {
        borderSkipped: 'left',
      }
    }
    }
  }

  var ctx = document.getElementById('myChart').getContext('2d');
  new Chart(ctx, config);
</script>