<div class="has-text-centered mt-4">
  <h3 class="is-3 title">Cast ballot in <%= @competition.name %> Elections</h3>
</div>
<div class="box mt-3">
  <%= form_with model: @reward do |form|%>
    <div class="field">
      <label class="label">Select Recipient</label>
      <div class="control">
        <div class="select is-normal">
          <%= select_tag(:candidate, options_for_select(@candidates), class: "form-select is-medium") %>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Enter Number of Points</label>
      <div class="control">
        <div class="">
          <%= form.number_field :points_awarded, class: 'input is-medium', required: true %>
        </div>
      </div>
    </div>
    <div class="field is-grouped">
      <p class="control">
        <%= hidden_field_tag :competition_id, @competition.id %>
        <%= hidden_field_tag :gifter, Current.user.person_id %>
        <%= form.submit("Award Point(s)", class:"button is-primary is-responsive is-fullwidth") %>
      </p>
      <p class="control">
        <%= link_to "Cancel", "/votes", class: "button is-danger is-responsive is-fullwidth" %>
      </p>
    </div>

  <%end %>
</div>