<p class="is-capitalized is-size-3 has-text-weight-semibold is-family-sans-serif">Voting Center</p>

<div class="columns">
  <div class="column is-four-fifths">
    <h4 class="subtitle is-4 is-bordered">Current Elections</h4>
    <div class="grid">
      <%(@open_elections || []).each do |election| %>
        <div class="cell">
          <div class="card">
            <div class="card-content">
              <h4 class="has-text-weight-bold is-4"><%= election.name%></h4>
              <h6 class="subtitle is-6">
                <%= "#{election.start_date.strftime('%d %b %Y')} - #{election.end_date.strftime('%d %b %Y')}" %>
              </h6>
              <div class="content">
                Current Leader: <br/>
                Winning Percentage: <br/>
                Time to Close: <%= election.end_date.strftime('%d %b %Y %H:%M') %>
              </div>
              <%= link_to 'Vote', "/votes/new?competition_id=#{election.id}" ,  class: 'button is-success'%>
              <%= link_to 'View Details', "/competitions/#{election.id}",  class: 'button is-link'%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="column">
    <h4 class="subtitle is-4">Closed Elections</h4>
    <table>

    </table>
  </div>
</div>