<div class="has-text-centered mt-4">
  <h3 class="is-3 title">Cast ballot in <%= @competition.name %> Elections</h3>
</div>
<div class="box mt-3">
  <%= form_with model: @vote do |form|%>
    <div class="field">
      <label class="label">Select Candidate</label>
      <div class="control">
        <div class="select">
          <%= select_tag(:candidate, options_for_select(@candidates), class: "form-select is-fullwidth", id:"candidate") %>
        </div>
      </div>
    </div>
    <div class="field is-grouped">
      <p class="control">
        <%= hidden_field_tag :competition_id, @competition.id %>
        <%= form.submit("Cast Vote", class:"button is-primary is-responsive is-fullwidth") %>
      </p>
      <p class="control">
        <%= link_to "Cancel", "/votes", class: "button is-danger is-responsive is-fullwidth" %>
      </p>
    </div>

  <%end %>
</div>