<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Recognition Rewards" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/asset.png" alt="" >
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to 'Dashboard', '/',class: 'navbar-item' %>
        <%= link_to 'Competitions', '/competitions',class: 'navbar-item' %>
        <%= link_to 'Reward', '/points_logs',class: 'navbar-item' %>
        <%= link_to 'Vote', '/votes',class: 'navbar-item' %>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <% if authenticated? %>
            <div class="buttons">
              <%= button_to "Log out", session_path, method: :delete, class: 'button is-danger' %>
            </div>
          <% else %>
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
  <div class="container mt-2">
    <%= yield %>
  </div>
  </body>
</html>
